
<!-- Search & Title Toolbar -->
<mat-toolbar color="primary" class="toolbar">
    <h1 class="title">User Dashboard</h1>
    <input class="search" matInput placeholder="Search by id" (input)="onSearch($event)" />
</mat-toolbar>

<!-- Cards Section -->
<section class="cards-section">
    <div class="container card-row">
        @for (user of (users$ | async); track $index) {
            <mat-card (click)="userDetails(user.id)" class="user-card" tabindex="0" role="button">
                <img mat-card-image [src]="user.image" alt="User Image" />
                <h3>{{ user.firstName }} {{ user.lastName }}</h3>
                <button mat-raised-button color="primary" class="detailsBtn">Details</button>
            </mat-card>
        }
    </div>
</section>

<!-- Pagination -->
<mat-paginator
    class="mt-3 fs-5 paginator"
    [length]="totalUsers"
    [pageSize]="limit"
    [pageSizeOptions]="[8, 10, 25, 50, 100]"
    aria-label="Select page"
    (page)="onPageChange($event)"
>
</mat-paginator>
