
<!-- Search -->
<mat-toolbar>
    <h1 class="title">User Dashboard</h1>
    <input class="search" matInput placeholder="Search by id" >
</mat-toolbar>

<!-- Card Of Users-->
<div class="card" style="background-color: bisque;">
    <div class="container-fluid card-row mt-5">
        @for (user of users; track user.name) {
            <mat-card (click)="userDetails(user.id)">
                <img mat-card-image [src]="user.image" style="width: 100px; margin: 25px auto 20px;" />
                <h3 style="font-size: 23px; margin-bottom: 0;">{{ user.firstName }} {{ user.lastName }}</h3>
                <button mat-raised-button color="primary" class="detailsBtn">Details</button>
            </mat-card>  
        }
    </div>
</div>
