.title{
    margin-left: 20px; 
    font-size: 30px;
}

// Back Btn
.back {
    display: flex;
    cursor: pointer;
    transition: transform 0.3s ease;
    margin: 35px 30px 0;
    color: red;
    font-weight: bold;
    font-size: 25px;

    &:hover {
        transform: translateX(-5px);
    }

    p{
        margin-top: 4px;
    }
}
