.title{
    margin-left: 20px; 
    font-size: 30px;
}

// Back Btn
.back {
    display: flex;
    cursor: pointer;
    transition: transform 0.3s ease;
    margin: 25px 35px 0;
    color: red;
    font-weight: bold;
    font-size: 20px;

    &:hover {
        transform: translateX(-5px);
    }
    
    i, p {
        margin: 0;
    }
}


// User
p{
    margin-top: 27px;
    font-size: 23px;
}

p strong{
    font-size: 30px;
}